VITE_CLARITY_PROJECT_ID=your_clarity_project_id
VITE_SENTRY_DSN=your_sentry_dsn
VITE_APP_VERSION=toolzi@0.1.0
SENTRY_ORG=your_sentry_org_slug
SENTRY_PROJECT=your_sentry_project_slug
SENTRY_AUTH_TOKEN=your_sentry_auth_token
